@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sen", sans-serif;

}

body {
    font-family: "Funnel Sans", sans-serif;

}

.main-menu {
    @apply flex gap-[47px];
}

.main-menu li a {
    @apply hover:text-[#171100] hover:border-b-2 hover:border-[#171100];
}

/* Default অবস্থায় submenu hide থাকবে */
.main-menu .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* parent link এর নিচে show হবে */
    left: 0;
    background: #fff;
    padding: 10px 0;
    min-width: 180px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
}

.footer-menu li a {
    @apply mt-6 text-[#BFBCB2] text-base leading-6 cursor-pointer hover:text-white;
}

.breadcump{
    @apply pt-3.5;
}
.breadcump ul{
    @apply flex gap-1 text-[var(--dark-light-color)];
}

.service-rating svg {
    fill: #FEA31B;
}
.services-team{
    @apply flex text-black gap-2.5;
}
.services-bg img {
    @apply w-full object-cover rounded-3xl;
}
.services-bg{
    @apply relative flex flex-col gap-5;
}
.services-infos{
    @apply lg:p-8 bg-white lg:absolute lg:w-[340px] rounded-xl lg:top-8.5 lg:right-8.5 border-1 border-gray-200 p-4 lg:border-0;
}
.single-services-list span svg{
   fill: #FEA31B;
}


.services-infos h5 {
    @apply font-bold text-[32px]
}

.services-infos h6 {
    @apply font-normal line-through;
}

.services-infos .services-dis p {
    @apply px-5 py-2 inline-block uppercase text-white font-normal rounded-lg bg-[#FF5752];
}

a.servicess-btn {
    @apply bg-[var(--secondary-color)] flex justify-center p-2.5 font-bold text-white rounded-lg active:bg-[var(--secondary-color)] active:scale-95 focus:outline-none focus:ring-2 focus:ring-[var(--secondary-color)] focus:ring-offset-2 transition-all duration-300 ease-in-out hover:bg-[var(--dark-color)];
}

.services-infos {
    @apply flex flex-col gap-6;
}

.services-details h4 {
    @apply text-xl font-bold;
}
.single-services-list {
    @apply flex items-center gap-2.5  text-[var(--dark-color)];
}
.services-details{
    @apply flex flex-col gap-2.5;
}
.services-details-list {
    @apply flex flex-col gap-3;
}


.single-services-right-list h4 {
    @apply text-2xl font-bold capitalize
}

.single-services-right-list {
    @apply p-8 border-1 border-gray-200 rounded-xl flex flex-col gap-5;
}

.single-services-right-item {
    @apply flex gap-3 items-center capitalize
}

.services-right-details{
    @apply flex flex-col;
}
.services-right-details span {
    @apply font-bold
}

.services-right-detailss {
    @apply flex gap-3;
}

.services-right-detailss span {
    @apply font-medium;
}

.services-right-area{
    @apply flex flex-col gap-8;
}

.services-left-details{
    @apply border-b-1 border-gray-200;
}

.service-tab-area {
    @apply flex flex-wrap justify-center md:justify-start md:flex-row  gap-1;
}

.service-tab-area li {
    @apply py-2.5 px-5 font-medium capitalize cursor-pointer;
}

.service-tab-area li.active {
    @apply border-b-2 border-[var(--secondary-color)]
}

.services-tab-content .tab-content{
    @apply hidden
}
.services-tab-content .tab-content:first-child {
    @apply block
}

.services-tab-content-info {
    @apply flex flex-col h-auto gap-5;
}

.services-course-title {
    @apply flex flex-col gap-2;
}

.services-course-title h4 {
    @apply text-2xl font-semibold;
}


.services-course-title ul li {
    @apply flex items-center gap-2.5;
}

.services-course-title ul {
    @apply flex flex-col gap-3
}

.services-tab-content .tab-content {
    @apply py-5;
}

.services-accordion h3 {
  @apply  flex flex-col md:flex-row md:justify-between items-center rounded-sm py-3 px-6 font-bold ;
}

.services-accordion h3 .meta {
  @apply  items-center flex gap-1.5;
}

.services-accordion .ui-state-default, .services-accordion .ui-widget-content .ui-state-default, .services-accordion .ui-widget-header .ui-state-default, .services-accordion .ui-button, .services-accordion html .ui-button.ui-state-disabled:hover, .services-accordion html .ui-button.ui-state-disabled:active{
    @apply border-1 border-gray-200
}

.services-tab-content-info .ui-widget-content {
    @apply border-1 border-gray-200 rounded-b-sm;
}
.services-tab-content-info  .ui-accordion .ui-accordion-content {
    @apply border-t-0 overflow-auto;
}


.services-tab-content-info  .ui-state-active {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.services-tab-content-info  .ui-accordion .ui-accordion-header {
    @apply cursor-pointer mt-3.75;
}
.service-accordion-content a{
    @apply flex justify-between border-b-1 border-gray-200 py-3 px-6;
}
.service-accordion-content{
    @apply bg-[#FAF9FA];
}

.service-accordion-content a:last-child {
    @apply border-b-0;
}

.service-acc-ins {
    @apply flex flex-col gap-5
}
.services-accordion-content h6{
    @apply text-lg font-semibold ;
}


.instructors {
    @apply flex gap-6.5;
}

.service-acc-ins h4 {
    @apply font-bold text-xl;
}

.service-acc-rating {
    @apply flex flex-col md:flex-row md:items-center gap-2.5 text-[var(--secondary-color)];
}
.service-acc-rating span {
    @apply leading-5;
}

.service-acc-enroll {
    @apply flex gap-8;
}

.single-enroll h5 {
    @apply font-bold text-2xl text-center;
}